/* styles.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  padding: 0;
    background-color: black;
    color: whitesmoke;
    border: whitesmoke 1px solid;
    border-radius: 5px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Input Groups */
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.input-group label {
  margin-right: 10px;
}

.input-group select {
  padding: 5px;
  font-size: 16px;
}

/* Chord Display */
#chord-display {
  margin-top: 20px;
}

.chord {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.chord:last-child {
  border-bottom: none;
}

/* Play Button */
.play-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
    align-items: center;
  }

  .input-group label, .input-group select {
    margin: 5px 0;
  }
}
